/* Start Episode-Section */
.episode-section {
    padding-top: 120px;
}

.episode-section .container {
    background-color: #1a1a1a;
    padding: 20px;
}

.episode-section .header {
    display: flex;
}

/* .episode-section .header .image {} */

.episode-section .header .image img {
    max-width: 100px;
    max-height: 150px;
}

.episode-section .header .names {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* .episode-section .header .names h2 {} */

.episode-section .header .names h2 {
    color: #0084ff;
    margin: 0;
}

.episode-section .season {
    margin: 15px 0;
}

/* .episode-section .season label {} */

.episode-section .season select {
    width: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    margin-left: 10px;
}

.episode-section .season select option {
    background-color: #1a1a1a;
}

/* End Episode-section */
/* Start Episode */
.episode-section ul.episodes {
    background-color: #1a1a1a;
}

.episode-section ul.episodes li:nth-child(odd) {
    background-color: #2c2c2c;
}

.episode-section ul.episodes li {
    display: flex;
    gap: 20px;
    max-height: 140px;
}

.episode-section ul.episodes li .image img {
    min-width: 212px;
    max-height: 140px;
}

.episode-section li .content p,
.episode-section li .content .stars,
.episode-section li .content .description {
    margin: 0;
    margin-top: 10px;
}

.episode-section li .content .stars .rate i {
    color: gold;
}

.episode-section .container .links {
    margin: 20px 40px;
}

.episode-section .container .links a {
    color: white;
}

.episode-section .container .links a:hover {
    color: #0084ff;
}

/* End Episode */