<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>people details Page</title>
    <!-- to render normally -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- Font awesome file -->   ~
    <link rel="stylesheet" href="~/css/all.min.css" />
    <!-- Main css file -->       ~
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- more-info file -->      ~
    <link rel="stylesheet" href="~/css/more-info.css" />
    <link rel="stylesheet" href="~/css/people-details.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Roboto:wght@100;300;400;500;700;900&family=Romanesco&display=swap"
          rel="stylesheet" />
</head>

<body>
    <!-- Start the header -->
    <div class="main-header">
        <div class="container">
            <a href="./home.html">
                <img src="./imgs/header-icon.png" alt="logo" />
            </a>
            <div class="links">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="#tv-shows">TV Shows</a></li>
                    <li><a href="#movies">Movies</a></li>
                    <li><a href="./watchlist.html">Watchlist</a></li>
                </ul>
                <div class="details">
                    <a href="./login.html" class="icon">
                        <!-- <i class="fa-solid fa-user"></i> -->
                        <img src="./imgs/profile/image-1.jpg" alt="" />
                    </a>
                    <ul>
                        <li>
                            <a href="./edit-profile.html">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <button class="logout">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                Sign Out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End the header -->
    <!-- Start Movie details -->
    <div class="movie-details">
        <div class="container">
            <div class="header">
                <div class="title">
                    <h1>Shazam</h1>
                    <p>
                        <span>2019 |</span>
                        <span>2h 12m</span>
                    </p>
                </div>
                <div class="rating">
                    <div>
                        <h4>IMBD Rating</h4>
                        <p class="gold">
                            <i class="fa-solid fa-star"></i>
                            7.0
                        </p>
                    </div>
                    <div>
                        <h4>Your Rating</h4>
                        <p>
                            <i class="fa-regular fa-star"></i>
                            Rate
                        </p>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="poster">
                    <div class="image">
                        <img src="./imgs/home-background.jpg" alt="" />
                    </div>
                </div>
                <div class="trailer">
                    <video src="./videos/trailer.mp4"></video>
                </div>
                <div class="more-details">
                    <div class="more">
                        <!-- <video src="./videos/shazam.mp4"></video> -->
                        <button>
                            <i class="fa-brands fa-youtube"></i>
                            More Videos
                        </button>
                    </div>
                    <div class="more">
                        <!-- <video src="./videos/shazam.mp4"></video> -->
                        <button>
                            <i class="fa-sharp fa-solid fa-photo-film"></i>
                            More Photos
                        </button>
                    </div>
                </div>
            </div>
            <div class="description">
                Jensen Ross Ackles, better known as simply Jensen Ackles, was born on March 1, 1978, in Dallas,
                Texas, to Donna Joan (Shaffer) and actor Alan Ackles. He has English, German, and Scottish ancestry.
                Jensen grew up in Richardson, Texas, together with his older brother, Joshua, and a younger sister,
                Mackenzie. Jensen graduated from Dartmouth Elementary School in 1990, he graduated from Apollo
                Junior High School in 1993, and LV Berkner High School in 1996.Jensen is a sports junkie.
                He loves football, lacrosse, baseball and basketball. He even played on the baseball
                and lacrosse teams in high school.
            </div>
            <button class="addToList">+ Add To List</button>
        </div>
    </div>
    <!-- End Movie details -->
    <!-- Start Awards -->
    <div class="awards">
        <div class="container">
            <p>
                <span>Awards</span>
                13 wins & 54 nominations
            </p>
        </div>
    </div>
    <!-- End Awards -->
    <!-- Start Known For -->
    <div class="known">
        <div class="container">
            <div class="section-title">
                <h3>Known For ></h3>
            </div>
            <div class="movies-container">
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Known For -->
    <!-- start actor -->
    <div class="known">
        <div class="container">
            <div class="section-title">
                <h3>Actor ></h3>
            </div>
            <div class="movies-container actor-container">
                <div class="movie-card actor-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End actor -->
    <!-- Start producer -->
    <div class="known">
        <div class="container">
            <div class="section-title">
                <h3>Producer ></h3>
            </div>
            <div class="movies-container actor-container">
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start producer -->
    <!-- Start Director -->
    <div class="known">
        <div class="container">
            <div class="section-title">
                <h3>Director ></h3>
            </div>
            <div class="movies-container actor-container">
                <div class="movie-card">
                    <div class="icon">
                        <img src="./imgs/home-background.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Supernatural</h3>
                        <div class="stars">
                            <span class="rate">
                                <i class="fa-solid fa-star"></i>
                                7.9
                            </span>
                        </div>
                        <p class="type">Dean Winchester | Michael | Demon Dean..</p>
                        <div class="date">2005 - 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Director -->
    <!-- Start personal-details -->
    <div class="personal-details">
        <div class="container">
            <div class="section-title">
                <h3>Personal Details ></h3>
            </div>
            <div class="details">
                <h3>Born</h3>
                <span>March 1, 1978 - Dallas, Texas, USA</span>
            </div>
            <div class="details">
                <h3>Spouse</h3>
                <span>Danneel Ackles May 15, 2010 - present (3 children)</span>
            </div>
            <div class="details">
                <h3>Height</h3>
                <span>6′ 1″ (1.86 m)</span>
            </div>
        </div>
    </div>
    <!-- End personal-details -->
</body>

</html>